nav {
    display: flex;
    font-size: 10px;
    margin-left:auto;
}

nav a {
    padding-left: 10px;
}

a,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #125699;
}


.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
