<section>
    <h3>Expenses</h3>
    <div class="actions-container">
      <button mat-raised-button (click)="addExpense()">Add</button> 
    </div> 
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Date</th>
          <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.expenseDate | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Description </th>
          <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.description}} </td>
        </ng-container>
      
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell"> Amount</th>
          <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="mat-header-cell">Category</th>
          <td mat-cell class="mat-cell" *matCellDef="let element"> {{element.category}} </td>
        </ng-container>
      
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef >Actions</th>
          <td mat-cell class="mat-cell-td" class="actions-td" *matCellDef="let element;">
            <button mat-raised-button (click)="deleteExpense(element)">
              <mat-icon aria-hidden="false" aria-label="delete icon">delete</mat-icon>
            </button>
            <button mat-raised-button (click)="updateExpense(element)">
              <mat-icon aria-hidden="false" aria-label="edit icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </section>